@font-face {
  font-family: 'etab';
  src: url('../../public/assets/fonts/etab.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Droid-Arabic-Kufi';
  src: url('../../public/assets/fonts/Droid-Arabic-Kufi.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


body[dir="rtl"] {
  direction: rtl;
  font-family: 'Droid-Arabic-Kufi', sans-serif;
}

body[dir="ltr"] {
  direction: ltr;
  font-family: 'Roboto', sans-serif;
}